In [86]:
import pandas as pd
import openpyxl

In [87]:
# df = pd.read_csv('Canada_candidate_list_before_conversion-done.csv', encoding='utf-8')
# df

In [88]:
df = pd.read_excel('previous_edu_and_exp.xlsx')
df

,First Name,Last Name,Education,Work Experience,Profile URL
0,Myunghee,Kim,"Carnegie Mellon University, Doctor of Philosop...",Assistant Professor at University of Illinois ...,https://www.linkedin.com/in/myunghee-kim-1811a23a
1,Johnny,Lee,"Carnegie Mellon University, PhD · 2001 – 2008\...",Director Of Engineering at Google · 2022 – Pre...,https://www.linkedin.com/in/johnnychunglee
2,MJ,Chun,"Swarthmore College, BA - High Honors · 1996 – ...",Head of Product at Serve Robotics · 2021 – Pre...,https://www.linkedin.com/in/mjchun

In [89]:
# df = pd.read_csv('previous_edu_and_exp.txt', delimiter = '\t', encoding='utf-8')
# df

In [90]:
# Replace carriage returns + line feeds with just line feeds
df.Education = df.Education.str.replace('\r\n', '\n')
df['Work Experience'] = df['Work Experience'].str.replace('\r\n', '\n')

# Replace carriage returns with just line feeds
df.Education = df.Education.str.replace('\r', '\n')
df['Work Experience'] = df['Work Experience'].str.replace('\r', '\n')

In [91]:
# s = df.loc[2, 'Work Experience']
# s

In [92]:
# exp_list = s.split('\n')
# exp_list

In [93]:
# title_split_list = exp_list[0].split(' at ', 1)
# title = title_split_list[0]

In [94]:
# company, period = title_split_list[1].split(' · ')

In [95]:
# exp_split_list =[title, company, period]
# exp_split_list

In [96]:
# full_exp_split_list = []
# for exp in exp_list:
#     title_split_list = exp.split(' at ', 1)
#     title = title_split_list[0]
#     company, period = title_split_list[1].rsplit(' · ', 1)
#     exp_split_list = [title, company, period]
#     full_exp_split_list.append(exp_split_list)

# full_exp_split_list

In [97]:
# exp_string = ''
# full_exp_split_list[0]

In [98]:
# # Case of single entry for a company
# exp_string + '- ' + full_exp_split_list[0][1] + ', ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')'

In [99]:
# # Case of the same company in next item
# (exp_string + '- ' + full_exp_split_list[0][1] + '\n' +
# '  · ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')')

In [100]:
# Initiate string to hold all the work experiences
# exp_string = ''

# for idx, exp in enumerate(full_exp_split_list):  
#     # Handle the first experience in the list
#     if idx == 0:
#             exp_string = exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
    
#     # Handle the last experience in the list
#     elif idx == len(full_exp_split_list)-1:
#         if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#             new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
#         else:
#             new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
    
#     # Handle all the experiences in the middle
#     else:
#         if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#             new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
#         else:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
            
    
# print(exp_string)
#     current_exp = exp
#     next_exp = exp + 1
#     if current_exp[1] == next_exp[1]:
#         next_exp_check = True
#     else:
#         next_exp_check = False
    
#     if multi_exp_flag:
#         exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#     else:
#         exp_string + '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
    
#     if next_exp_check == False:
#         multi_exp_flag = False

In [101]:
# Create experience formatter function
def format_exp (input_exp_string):
    """Takes a work experience input string, as cut-and-pasted from LinkedIn, 
    and puts it into a more reader friendly format.
    """
    
    # Split the work experience string into a list at each new line
    exp_list = input_exp_string.split('\n')
    
    # For each experience in the experience list, 
    # pull out the title, company, and period and put them in a list, 
    # then append each list to a full experience list, 
    # creating a nested list.
    full_exp_split_list = []
    
    try:
        for exp in exp_list:
            # Handle cases of "Profile experience" being copied over in the string.
            if exp == "Profile experience":
                print('Warning:\nThe text string \"Profile experience\" was found in one of the work experience entries. ' +
                      'This string is sometimes inadvertently copied over with the experiences when cutting and pasting. ' +
                      'All experience entry formatting has been completed, ' +
                      'but you will need to check all entries in your output file and remove it manually.\n')
                full_exp_split_list.append(exp)
            else:
                title_split_list = exp.split(' at ', 1)
                title = title_split_list[0]
                company, period = title_split_list[1].rsplit(' · ', 1)
                exp_split_list = [title, company, period]
                full_exp_split_list.append(exp_split_list)
    except IndexError:
        print ('Warning:\nThere is an entry in one of the work experiences that is not in the proper format. ' +
               'All experiences must be in the form [title] at [company] · [period]. ' +
               'Any entries that are not in the proper format will appear as blank cells in the returned file.\n')
    
    # Rebuild the work experience string (exp_string) in a more readable way
    exp_string = ''

    for idx, exp in enumerate(full_exp_split_list):  
        # Format the first experience in the list and add them to the new string
        if idx == 0:
            if exp == 'Profile experience':
                exp_string = exp_string + exp
            else:
                exp_string = exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
        
        # Format all other experiences in the list and add them to the new string
        else:
            if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
                new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
            else:
                new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
                
    return exp_string
#         # Handle the last experience in the list
#         elif idx == len(full_exp_split_list)-1:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#                 new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string

#         # Handle all the experiences in the middle
#         else:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#                 new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
#                     new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                     exp_string = exp_string + '\n' + new_string
#                 else:
#                     new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                     exp_string = exp_string + '\n' + new_string

In [102]:
df['Work Experience'] = df['Work Experience'].apply(format_exp)

In [103]:
# print(df.loc[64,'Education'])

In [104]:
# print(df.loc[108].Education)

In [105]:
# s_edu = df.loc[2, 'Education']
# s_edu

In [106]:
# edu_list = s_edu.split('\n')
# edu_list

In [107]:
# Initiate string to hold all the education
# edu_string = ''

# for idx, edu in enumerate(edu_list):
#     if (',' in edu) and ('·' in edu): # All parts of the education list exist
#         school, degree_period_list = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
#         degree, period = degree_period_list.split(' · ')
#         if idx == 0:
#             edu_string = edu_string + '- ' + degree + ': ' + school +  ' (' + period + ')'
#         else:
#             edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (' + period + ')'
    
#     elif (',' in edu) and ('·' not in edu): # The school and degree exist, but not the period
#         school, degree = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
#         if idx == 0:
#             edu_string = edu_string + '- ' + degree + ': ' + school +  ' (????)'
#         else:
#             edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (????)'
        
#     elif (',' not in edu) and ('·' in edu): # The school and period exist, but not the degree
#         school, period = edu.split(' · ')
#         if idx == 0:
#             edu_string = edu_string + '- '  + '??: ' + school +  ' (' + period + ')'
#         else:
#             edu_string = edu_string + '\n' + '- ' + '??: ' + school +  ' (' + period + ')'
    
#     else: # Only the school exists (this is the only required field for education in LinkedIn)
#         school = edu
#         if idx == 0:
#             edu_string = edu_string + '- ' + '??: ' + school +  ' (????)'
#         else:
#             edu_string = edu_string + '\n' + '- '+ '??: ' + school +  ' (????)'

# print(edu_string)

In [108]:
# Create education formatter function
def format_edu (input_edu_string):
    """Takes the education input string 
    and puts into a more reader friendly format.
    """
    # Split the education string into a list at each new line
    edu_list = input_edu_string.split('\n')
    
    # Initiate a string to hold all the education in a new format
    edu_string = ''
    
    # Rebuild the education string (edu_string) in a more readable way
    # Note that for education entries in LinkedIn 'school' is the only required field, others are optional. 
    # If the optional fields are missing, question marks (?) will be added to indicate that.
    # If someone uses an unlisted school name then only the degree and period exist, 
    # and someone can enter just the school and period without the degree. 
    # In these cases which ever one exists will be output in the string.
    # There are also rare cases in which only a period exists, 
    # which would be the result when someone uses an unlisted school name, no degree, and includes the period. 
    for idx, edu in enumerate(edu_list):
        # Print a warning if "Profile education" is present in the education entry.
        if edu == "Profile education":
            print('Warning:\nThe text string \"Profile education\" was found in one of the education entries. ' +
                  'This string is sometimes inadvertently copied over with the education when cutting and pasting. ' +
                  'All education entry formatting has been completed, ' +
                  'but you will need to check all entries in your output file and remove it manually.\n')
        
        if (',' in edu) and ('·' in edu): # All parts of the education list exist
            school, degree_period_list = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
            degree, period = degree_period_list.split(' · ')
            if idx == 0:
                edu_string = edu_string + '- ' + degree + ': ' + school +  ' (' + period + ')'
            else:
                edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (' + period + ')'

        elif (',' in edu) and ('·' not in edu): # The school and degree exist, but not the period
            school, degree = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
            if idx == 0:
                edu_string = edu_string + '- ' + degree + ': ' + school +  ' (????)'
            else:
                edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (????)'

        elif (',' not in edu) and ('·' in edu): # The school OR degree and period exist
            # Cannot easily distinguish between school and degree 
            # so will just output whichever one is there.
            # There are also some rare cases in which only the period exists. 
            # In these cases an value error results when the split below is performed. 
            # In these cases we can add it in the proper format when the error is caught. 
            error_flag = False
            try:
                school_or_degree, period = edu.split(' · ')
            except ValueError:
                error_flag = True
                
            if error_flag:
                period = edu.lstrip('· ')
                if idx == 0:
                    edu_string = edu_string + '- '  + '??' + ': ' + '??' +  ' (' + period + ')'
                else:
                    edu_string = edu_string + '\n' + '- '  + '??' + ': ' + '??' +  ' (' + period + ')'
            
            else:               
                if idx == 0:
                    edu_string = edu_string + '- ' + school_or_degree +  ' (' + period + ')'
                else:
                    edu_string = edu_string + '\n' + '- ' + school_or_degree +  ' (' + period + ')'

        else: # Only the school exists
            school = edu
            if idx == 0:
                edu_string = edu_string + '- ' + '??: ' + school +  ' (????)'
            else:
                edu_string = edu_string + '\n' + '- '+ '??: ' + school +  ' (????)'
        
    return edu_string

In [109]:
df['Education'] = df['Education'].apply(format_edu)

In [110]:
# print(df.loc[64,'Education'])

In [111]:
# print(df.loc[108].Education)

In [112]:
df

,First Name,Last Name,Education,Work Experience,Profile URL
0,Myunghee,Kim,- Doctor of Philosophy (Ph.D.): Carnegie Mello...,- University of Illinois at Chicago\n · Assis...,https://www.linkedin.com/in/myunghee-kim-1811a23a
1,Johnny,Lee,- PhD: Carnegie Mellon University (2001 – 2008...,- Google\n · Director Of Engineering (2022 – ...,https://www.linkedin.com/in/johnnychunglee
2,MJ,Chun,- BA - High Honors: Swarthmore College (1996 –...,- Serve Robotics\n · Head of Product (2021 – ...,https://www.linkedin.com/in/mjchun

In [113]:
# Add an initial quote at the start of each education and experience
# So that excel recognizes them as text not formulas
def add_quote(input_string):
    input_string = '\'' + input_string
    return input_string

df['Education'] = df['Education'].apply(add_quote)
df['Work Experience'] = df['Work Experience'].apply(add_quote)

In [114]:
# Export
# df.to_excel('canada_list_output.xlsx', encoding='utf-8')
df.to_excel('previous_edu_and_exp_output.xlsx', encoding='utf-8')

In [115]:
# Extra commas in school names have been accounted for
# However commas in degree names could still mess up the formatting
# Note that for education 'school' is the only required field, others are optional
# So, if the optional fields are missing, question marks (?) will be added to indicate that
# It seems that there are some rare cases in which only the period is listed, these will be skipped and a message printed
# Also, if someone uses an unlisted school name then only the degree and period exist,
# which results in a having just the degree and period listed but with the degree where the school name should be

In [116]:
# print(df.loc[64].Education)

In [117]:
# df[df.Education.str.contains('1994')]

In [118]:
# df[df['First Name'].str.contains('Jeong Woo')]