In [52]:
%matplotlib inline

import pandas as pd

In [53]:
df = pd.read_csv('pipeline_export_new.csv', encoding='utf-8')
df

,First Name,Last Name,Location,Education,Work Experience,Profile URL
0,Jinwook,Kim,Seongnam,"Sogang University, Certificate (Short-term cou...",Director Of Business Development at 주식회사 클로봇 (...,https://www.linkedin.com/in/jinwook-kim-686bb09
1,Myunghee,Kim,Greater Chicago Area,"Carnegie Mellon University, Doctor of Philosop...",Assistant Professor at University of Illinois ...,https://www.linkedin.com/in/myunghee-kim-1811a23a
2,Johnny,Lee,United States,"Carnegie Mellon University, PhD · 2001 – 2008\...",Director Of Engineering at Google · 2022 – Pre...,https://www.linkedin.com/in/johnnychunglee
3,MJ,Chun,San Francisco,"Swarthmore College, BA - High Honors · 1996 – ...",Head of Product at Serve Robotics · 2021 – Pre...,https://www.linkedin.com/in/mjchun

In [54]:
s = df.loc[1, 'Work Experience']
s

'Assistant Professor at University of Illinois at Chicago · 2018 – Present\nPostdoctoral Fellow at Harvard university · 2016 – 2018\nPostdoctoral Fellowship at Carnegie Mellon University · 2016 – 2016\nResearch Assistant at Carnegie Mellon University · 2011 – 2015\nSenior Engineer at Samsung Electronics · 2008 – 2011\nProject Manager at Woongjin Coway Co., LTD. · 2006 – 2008\nResearch Assistant at Massachusetts Institute of Technology (MIT), Humanoid Robotics Group · 2004 – 2006\nResearch Assistant at Korea Advanced Institute of Science and Technology, Machine control lab · 2002 – 2004'

In [55]:
exp_list = s.split('\n')
exp_list

['Assistant Professor at University of Illinois at Chicago · 2018 – Present',
 'Postdoctoral Fellow at Harvard university · 2016 – 2018',
 'Postdoctoral Fellowship at Carnegie Mellon University · 2016 – 2016',
 'Research Assistant at Carnegie Mellon University · 2011 – 2015',
 'Senior Engineer at Samsung Electronics · 2008 – 2011',
 'Project Manager at Woongjin Coway Co., LTD. · 2006 – 2008',
 'Research Assistant at Massachusetts Institute of Technology (MIT), Humanoid Robotics Group · 2004 – 2006',
 'Research Assistant at Korea Advanced Institute of Science and Technology, Machine control lab · 2002 – 2004']

In [56]:
# title_split_list = exp_list[0].split(' at ', 1)
# title = title_split_list[0]

In [57]:
# company, period = title_split_list[1].split(' · ')

In [58]:
# exp_split_list =[title, company, period]
# exp_split_list

In [59]:
full_exp_split_list = []
for exp in exp_list:
    title_split_list = exp.split(' at ', 1)
    title = title_split_list[0]
    company, period = title_split_list[1].split(' · ')
    exp_split_list = [title, company, period]
    full_exp_split_list.append(exp_split_list)

full_exp_split_list

[['Assistant Professor',
  'University of Illinois at Chicago',
  '2018 – Present'],
 ['Postdoctoral Fellow', 'Harvard university', '2016 – 2018'],
 ['Postdoctoral Fellowship', 'Carnegie Mellon University', '2016 – 2016'],
 ['Research Assistant', 'Carnegie Mellon University', '2011 – 2015'],
 ['Senior Engineer', 'Samsung Electronics', '2008 – 2011'],
 ['Project Manager', 'Woongjin Coway Co., LTD.', '2006 – 2008'],
 ['Research Assistant',
  'Massachusetts Institute of Technology (MIT), Humanoid Robotics Group',
  '2004 – 2006'],
 ['Research Assistant',
  'Korea Advanced Institute of Science and Technology, Machine control lab',
  '2002 – 2004']]

In [60]:
exp_string = ''
full_exp_split_list[0]

['Assistant Professor', 'University of Illinois at Chicago', '2018 – Present']

In [61]:
# Case of single entry for a company
exp_string + '- ' + full_exp_split_list[0][1] + ', ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')'

'- University of Illinois at Chicago, Assistant Professor (2018 – Present)'

In [62]:
# Case of the same company in next item
(exp_string + '- ' + full_exp_split_list[0][1] + '\n' +
'  · ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')')

'- University of Illinois at Chicago\n  · Assistant Professor (2018 – Present)'

In [63]:
# Initiate string to hold all the work experiences
exp_string = ''

for idx, exp in enumerate(full_exp_split_list):  
    # Handle the first experience in the list
    if idx == 0:
        if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
            exp_string = exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
        else:
            exp_string = exp_string + '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
    
    # Handle the last experience in the list
    elif idx == len(full_exp_split_list)-1:
        if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
            new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
            exp_string = exp_string + '\n' + new_string
        else:
            new_string = '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
            exp_string = exp_string + '\n' + new_string
    
    # Handle all the experiences in the middle
    else:
        if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
            new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
            exp_string = exp_string + '\n' + new_string
        else:
            if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
                new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
            else:
                new_string = '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
            
    
print(exp_string)
#     current_exp = exp
#     next_exp = exp + 1
#     if current_exp[1] == next_exp[1]:
#         next_exp_check = True
#     else:
#         next_exp_check = False
    
#     if multi_exp_flag:
#         exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#     else:
#         exp_string + '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
    
#     if next_exp_check == False:
#         multi_exp_flag = False

- University of Illinois at Chicago, Assistant Professor (2018 – Present)
- Harvard university, Postdoctoral Fellow (2016 – 2018)
- Carnegie Mellon University
  · Postdoctoral Fellowship (2016 – 2016)
  · Research Assistant (2011 – 2015)
- Samsung Electronics, Senior Engineer (2008 – 2011)
- Woongjin Coway Co., LTD., Project Manager (2006 – 2008)
- Massachusetts Institute of Technology (MIT), Humanoid Robotics Group, Research Assistant (2004 – 2006)
- Korea Advanced Institute of Science and Technology, Machine control lab, Research Assistant (2002 – 2004)

In [64]:
s_edu = df.loc[3, 'Education']
s_edu

'Swarthmore College, BA - High Honors · 1996 – 2000\nSeoul International School'

In [65]:
edu_list = s_edu.split('\n')
edu_list

['Swarthmore College, BA - High Honors · 1996 – 2000',
 'Seoul International School']

In [66]:
# Initiate string to hold all the education
edu_string = ''

for idx, edu in enumerate(edu_list):
    if (',' in edu) and ('·' in edu):
        school, degree_period_list = edu.split(', ', 1)
        degree, period = degree_period_list.split(' · ')
        if idx == 0:
            edu_string = edu_string + '- ' + degree + ': ' + school +  ' (' + period + ')'
        else:
            edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (' + period + ')'
    
    elif (',' in edu) and ('·' not in edu):
        school, degree = edu.split(', ', 1)
        if idx == 0:
            edu_string = edu_string + '- ' + degree + ': ' + school
        else:
            edu_string = edu_string + '\n' + '- ' + degree + ': ' + school
        
    elif (',' not in edu) and ('·' in edu):
        school, period = edu.split(' · ')
        if idx == 0:
            edu_string = edu_string + '- ' + school +  ' (' + period + ')'
        else:
            edu_string = edu_string + '\n' + '- ' + school +  ' (' + period + ')'
    
    else:
        school = edu
        if idx == 0:
            edu_string = edu_string + '- ' + school
        else:
            edu_string = edu_string + '\n' + '- ' + school

print(edu_string)

- BA - High Honors: Swarthmore College (1996 – 2000)
- Seoul International School

In [ ]:
# Consider whether or not I want to make all the work experiences the same format, 
# would be clearer, but would also make them quite long in some cases, but that would be editable to make shorter
# so I think all the same would be best

In [67]:
# Next I have to make a function that can be applied to each item in the dataframe
# And the result needs to be a new string in the format I want

In [68]:
# Note that there could be center dots in company or job titles (rare) 
# or commas in the school names (somewhat common) that would mess up the formatting
# Need to make note of that for users for when they do their list editing