In [1]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_csv('Canada_candidate_list_before_conversion-done.csv', encoding='utf-8')
df

,Candidate Type,Tier,Location,First Name,Last Name,Education,Work Experience,Current Title,Email Address,Phone Number,Profile URL
0,Academia_Professor,1,Vancouver,Dongwook,Yoon,"Cornell University, Doctor of Philosophy (Ph.D...",Assistant Professor at The University of Briti...,Assistant Professor,NaN,NaN,https://www.linkedin.com/in/dwyoon
1,Academia_Professor,1,Greater Vancouver A,Mi Jung,Park,"The University of Texas at Austin, Doctor of P...",Assistant Professor at The University of Briti...,Assistant Professor,NaN,NaN,https://www.linkedin.com/in/mijungpark
2,Academia_Professor,1,Vancouver,Gene Moo,Lee,"The University of Texas at Austin, Doctor of P...",Associate Professor (with tenure) at The Unive...,Associate Professor (with tenure),NaN,NaN,https://www.linkedin.com/in/gmlee
3,Academia_Professor,1,Montreal,AJung,Moon,"The University of British Columbia, Doctor of ...",Assistant Professor (ECE) at McGill University...,Assistant Professor (ECE),NaN,NaN,https://www.linkedin.com/in/ajungmoon
4,Academia_Professor,1,Waterloo,Soo,Jeon,"University of California, Berkeley, PhD · 2001...",Associate Professor at University of Waterloo ...,Associate Professor,NaN,NaN,https://www.linkedin.com/in/soo-jeon-30b2aa15
...,...,...,...,...,...,...,...,...,...,...,...
206,Industry,2,Canada,Junho,Song,"Seoul National University, Doctor of Philosoph...","2018 cohort, Y Combinator Startup School, Advi...","2018 cohort, Y Combinator Startup School, Advi...",NaN,NaN,https://www.linkedin.com/in/junho-song-ai
207,Industry,2,Canada,Jungwon,Kang,Korea Advanced Institute of Science and Techno...,Systems Analyst at Thales · 2021 – Present\nRe...,Systems Analyst,NaN,NaN,https://www.linkedin.com/in/jungwon-kang-64696...
208,Industry,2,Mississauga,David MinWoo,Kong,"University of Toronto, Bachelor of Applied Sci...",AI Project Manager at LG AI Research · 2022 – ...,AI Project Manager,NaN,NaN,https://www.linkedin.com/in/david-minwoo-kong-...
209,Industry,2,Canada,Jaewon,Choi,"Hanyang University, Bachelor of Science (BS) ·...",Tech Lead / Sr. Software Development Engineer ...,Tech Lead / Sr. Software Development Engineer,NaN,NaN,https://www.linkedin.com/in/cmdrkeen
210,Industry,2,Vancouver,Wonmook,Jung,"Yonsei University, Master's degree · 2011 – 20...",Software Development Engineer at Amazon · 2017...,Software Development Engineer,NaN,NaN,https://www.linkedin.com/in/wonmookjung

In [3]:
# df = pd.read_excel('previous_edu_and_exp.xlsx')
# df

In [4]:
# df = pd.read_csv('previous_edu_and_exp.txt', delimiter = '\t', encoding='utf-8')
# df

In [5]:
# Replace carriage returns + line feeds with just line feeds
df.Education = df.Education.str.replace('\r\n', '\n')
df['Work Experience'] = df['Work Experience'].str.replace('\r\n', '\n')

# Replace carriage returns with just line feeds
df.Education = df.Education.str.replace('\r', '\n')
df['Work Experience'] = df['Work Experience'].str.replace('\r', '\n')

In [6]:
# s = df.loc[2, 'Work Experience']
# s

In [7]:
# exp_list = s.split('\n')
# exp_list

In [8]:
# title_split_list = exp_list[0].split(' at ', 1)
# title = title_split_list[0]

In [9]:
# company, period = title_split_list[1].split(' · ')

In [10]:
# exp_split_list =[title, company, period]
# exp_split_list

In [11]:
# full_exp_split_list = []
# for exp in exp_list:
#     title_split_list = exp.split(' at ', 1)
#     title = title_split_list[0]
#     company, period = title_split_list[1].rsplit(' · ', 1)
#     exp_split_list = [title, company, period]
#     full_exp_split_list.append(exp_split_list)

# full_exp_split_list

In [12]:
# exp_string = ''
# full_exp_split_list[0]

In [13]:
# # Case of single entry for a company
# exp_string + '- ' + full_exp_split_list[0][1] + ', ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')'

In [14]:
# # Case of the same company in next item
# (exp_string + '- ' + full_exp_split_list[0][1] + '\n' +
# '  · ' + full_exp_split_list[0][0] + ' (' + full_exp_split_list[0][2] + ')')

In [15]:
# Initiate string to hold all the work experiences
# exp_string = ''

# for idx, exp in enumerate(full_exp_split_list):  
#     # Handle the first experience in the list
#     if idx == 0:
#             exp_string = exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
    
#     # Handle the last experience in the list
#     elif idx == len(full_exp_split_list)-1:
#         if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#             new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
#         else:
#             new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
    
#     # Handle all the experiences in the middle
#     else:
#         if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#             new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#             exp_string = exp_string + '\n' + new_string
#         else:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
            
    
# print(exp_string)
#     current_exp = exp
#     next_exp = exp + 1
#     if current_exp[1] == next_exp[1]:
#         next_exp_check = True
#     else:
#         next_exp_check = False
    
#     if multi_exp_flag:
#         exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#     else:
#         exp_string + '- ' + exp[1] + ', ' + exp[0] + ' (' + exp[2] + ')'
    
#     if next_exp_check == False:
#         multi_exp_flag = False

In [16]:
# Create experience formatter function
def format_exp (input_exp_string):
    """Takes the work experience input string 
    and puts into a more reader friendly format.
    """
    
    # Split the work experience string into a list at each new line
    exp_list = input_exp_string.split('\n')
    
    # For each experience in the experience list, 
    # pull out the title, company, and period and put them in a list, 
    # then append each list to a full experience list, 
    # creating a nested list.
    full_exp_split_list = []
    
    try:
        for exp in exp_list:
            # Handle cases of "Profile experience" being copied over in the string.
            if exp == "Profile experience":
                print('Warning:\nThe text string \"Profile experience\" was found in one of the work experience entries. ' +
                      'This string is sometimes inadvertently copied over with the experiences when cutting and pasting. ' +
                      'You will need to check all work experience entries in your output file and remove it.\n')
                full_exp_split_list.append(exp)
            else:
                title_split_list = exp.split(' at ', 1)
                title = title_split_list[0]
                company, period = title_split_list[1].rsplit(' · ', 1)
                exp_split_list = [title, company, period]
                full_exp_split_list.append(exp_split_list)
    except IndexError:
        print ('Warning:\nThere is an entry in one of the work experiences that is not in the proper format. ' +
               'All experiences must be in the form [title] at [company] · [period]. ' +
               'Any entries that are not in the proper format will appear as blank cells in the returned file.\n')
    
    # Rebuild the work experience string (exp_string) in a more readable way
    exp_string = ''

    for idx, exp in enumerate(full_exp_split_list):  
        # Format the first experience in the list and add them to the new string
        if idx == 0:
            if exp == 'Profile experience':
                exp_string = exp_string + exp
            else:
                exp_string = exp_string + '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
        
        # Format all other experiences in the list and add them to the new string
        else:
            if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
                new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
            else:
                new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
                exp_string = exp_string + '\n' + new_string
                
    return exp_string
#         # Handle the last experience in the list
#         elif idx == len(full_exp_split_list)-1:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#                 new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string

#         # Handle all the experiences in the middle
#         else:
#             if full_exp_split_list[idx][1] == full_exp_split_list[idx-1][1]: # current and previous company check
#                 new_string = '  · ' + exp[0] + ' (' + exp[2] + ')'
#                 exp_string = exp_string + '\n' + new_string
#             else:
#                 if full_exp_split_list[idx][1] == full_exp_split_list[idx+1][1]: # current and next company check
#                     new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                     exp_string = exp_string + '\n' + new_string
#                 else:
#                     new_string = '- ' + exp[1] + '\n' + '  · ' + exp[0] + ' (' + exp[2] + ')'
#                     exp_string = exp_string + '\n' + new_string

In [17]:
df['Work Experience'] = df['Work Experience'].apply(format_exp)

Warning:
The text string "Profile experience" was found in one of the work experience entries. This string is sometimes inadvertently copied over with the experiences when cutting and pasting. You will need to check all work experience entries in your output file and remove it.

In [18]:
print(df.loc[3,'Work Experience'])

- McGill University
  · Assistant Professor (ECE) (2019 – Present)
- Open Roboethics Institute
  · Director (2017 – Present)
- IEEE Global Initiative for Ethical Considerations in Artificial Intelligence and Autonomous Systems
  · Executive Member (2016 – Present)
- International Panel on the Regulation of Autonomous Weapons (iPRAW)
  · Member (2017 – Present)
- Robohub
  · Contributor (2012 – Present)
- Secretariat of the UN Secretary General's High-level Panel on Digital Cooperation
  · Senior Advisor (2018 – 2019)
- Generation R Consulting
  · CEO (2017 – 2019)
- The University of British Columbia
  · PhD / Research Assistant (2012 – 2017)
- Open Roboethics initiative (ORi)
  · Co-Founder (2012 – 2017)
- EPFL (École polytechnique fédérale de Lausanne)
  · Visiting PHD Student (2015 – 2016)
- University of British Columbia
  · MASc / Research Assistant (2009 – 2012)
- Korean Roboethics Charter Committee
  · Translator (2009 – 2009)
- University of Waterloo
  · Research Assistant (2008 – 2008)
- Toyota
  · Paint Engineering (2007 – 2007)
- Prodomax Automation
  · Controls Specialist (2006 – 2006)
- Cognos
  · Query and Reporting QC Analyst (2005 – 2005)
- General Electric
  · Hydrogenerator Student Engineer (2005 – 2005)

In [19]:
# s_edu = df.loc[2, 'Education']
# s_edu

In [20]:
# edu_list = s_edu.split('\n')
# edu_list

In [21]:
# Initiate string to hold all the education
# edu_string = ''

# for idx, edu in enumerate(edu_list):
#     if (',' in edu) and ('·' in edu): # All parts of the education list exist
#         school, degree_period_list = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
#         degree, period = degree_period_list.split(' · ')
#         if idx == 0:
#             edu_string = edu_string + '- ' + degree + ': ' + school +  ' (' + period + ')'
#         else:
#             edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (' + period + ')'
    
#     elif (',' in edu) and ('·' not in edu): # The school and degree exist, but not the period
#         school, degree = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
#         if idx == 0:
#             edu_string = edu_string + '- ' + degree + ': ' + school +  ' (????)'
#         else:
#             edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (????)'
        
#     elif (',' not in edu) and ('·' in edu): # The school and period exist, but not the degree
#         school, period = edu.split(' · ')
#         if idx == 0:
#             edu_string = edu_string + '- '  + '??: ' + school +  ' (' + period + ')'
#         else:
#             edu_string = edu_string + '\n' + '- ' + '??: ' + school +  ' (' + period + ')'
    
#     else: # Only the school exists (this is the only required field for education in LinkedIn)
#         school = edu
#         if idx == 0:
#             edu_string = edu_string + '- ' + '??: ' + school +  ' (????)'
#         else:
#             edu_string = edu_string + '\n' + '- '+ '??: ' + school +  ' (????)'

# print(edu_string)

In [22]:
# Create education formatter function
def format_edu (input_edu_string):
    """Takes the education input string 
    and puts into a more reader friendly format.
    """
    # Split the education string into a list at each new line
    edu_list = input_edu_string.split('\n')
    
    # Initiate a string to hold all the education in a new format
    edu_string = ''
    
    # Rebuild the education string (edu_string) in a more readable way
    # Note that for education 'school' is the only required field, others are optional
    # So, if the optional fields are missing, question marks (?) will be added to indicate that
    # It seems that there are some rare cases in which only the period is listed, these will be skipped and a message printed
    # Also, if someone uses an unlisted school name then only the degree and period exist,
    # which results in a having just the degree and period listed but with the degree where the school name should be
    for idx, edu in enumerate(edu_list):
        # Print a warning if "Profile education" is present in the education entry.
        if edu == "Profile education":
            print('Warning:\nThe text string \"Profile education\" was found in one of the education entries. ' +
                  'This string is sometimes inadvertently copied over with the education when cutting and pasting. ' +
                  'You will need to check all education entries in your output file and remove it.\n')
        
        if (',' in edu) and ('·' in edu): # All parts of the education list exist
            school, degree_period_list = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
            degree, period = degree_period_list.split(' · ')
            if idx == 0:
                edu_string = edu_string + '- ' + degree + ': ' + school +  ' (' + period + ')'
            else:
                edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (' + period + ')'

        elif (',' in edu) and ('·' not in edu): # The school and degree exist, but not the period
            school, degree = edu.rsplit(', ', 1) # rsplit used to account for comma in school name case
            if idx == 0:
                edu_string = edu_string + '- ' + degree + ': ' + school +  ' (????)'
            else:
                edu_string = edu_string + '\n' + '- ' + degree + ': ' + school +  ' (????)'

        elif (',' not in edu) and ('·' in edu): # The school and period exist, but not the degree
            # There are some rare cases in which only the degree and period exist
            # In these cases an error is value error results when the split below is performed
            # In these cases we can add it in the proper format when the error is caught
            # This is done by splitting without spaces on the sides of the center dot
            error_flag = False
            try:
                school, period = edu.split(' · ')
            except ValueError:
                error_flag = True
                
            if error_flag:
                period = edu.lstrip('· ')
                if idx == 0:
                    edu_string = edu_string + '- '  + '??' + ': ' + '??' +  ' (' + period + ')'
                else:
                    edu_string = edu_string + '\n' + '- '  + '??' + ': ' + '??' +  ' (' + period + ')'
            
            else:               
                if idx == 0:
                    edu_string = edu_string + '- '  + '??: ' + school +  ' (' + period + ')'
                else:
                    edu_string = edu_string + '\n' + '- ' + '??: ' + school +  ' (' + period + ')'

        else: # Only the school exists
            school = edu
            if idx == 0:
                edu_string = edu_string + '- ' + '??: ' + school +  ' (????)'
            else:
                edu_string = edu_string + '\n' + '- '+ '??: ' + school +  ' (????)'
        
    return edu_string

In [23]:
df['Education'] = df['Education'].apply(format_edu)

Warning:
The text string "Profile education" was found in one of the education entries. This string is sometimes inadvertently copied over with the education when cutting and pasting. You will need to check all education entries in your output file and remove it.

In [24]:
print(df.loc[7,'Education'])

- Doctor of Philosophy - PhD: University of Toronto (2018 – 2022)
- Master of Science - MS: Texas A&M University (2014 – 2016)
- Bachelor's degree: Hanyang University (2008 – 2014)

In [25]:
df

,Candidate Type,Tier,Location,First Name,Last Name,Education,Work Experience,Current Title,Email Address,Phone Number,Profile URL
0,Academia_Professor,1,Vancouver,Dongwook,Yoon,- Doctor of Philosophy (Ph.D.): Cornell Univer...,- The University of British Columbia\n · Assi...,Assistant Professor,NaN,NaN,https://www.linkedin.com/in/dwyoon
1,Academia_Professor,1,Greater Vancouver A,Mi Jung,Park,- Doctor of Philosophy (Ph.D.): The University...,- The University of British Columbia\n · Assi...,Assistant Professor,NaN,NaN,https://www.linkedin.com/in/mijungpark
2,Academia_Professor,1,Vancouver,Gene Moo,Lee,- Doctor of Philosophy (Ph.D.): The University...,- The University of British Columbia\n · Asso...,Associate Professor (with tenure),NaN,NaN,https://www.linkedin.com/in/gmlee
3,Academia_Professor,1,Montreal,AJung,Moon,- Doctor of Philosophy - PhD: The University o...,- McGill University\n · Assistant Professor (...,Assistant Professor (ECE),NaN,NaN,https://www.linkedin.com/in/ajungmoon
4,Academia_Professor,1,Waterloo,Soo,Jeon,"- PhD: University of California, Berkeley (200...",- University of Waterloo\n · Associate Profes...,Associate Professor,NaN,NaN,https://www.linkedin.com/in/soo-jeon-30b2aa15
...,...,...,...,...,...,...,...,...,...,...,...
206,Industry,2,Canada,Junho,Song,- Doctor of Philosophy (Ph.D.) Candidate (ABD)...,- Y Combinator Startup School\n · 2018 cohort...,"2018 cohort, Y Combinator Startup School, Advi...",NaN,NaN,https://www.linkedin.com/in/junho-song-ai
207,Industry,2,Canada,Jungwon,Kang,- Doctor of Philosophy (Ph.D.): Korea Advanced...,- Thales\n · Systems Analyst (2021 – Present)...,Systems Analyst,NaN,NaN,https://www.linkedin.com/in/jungwon-kang-64696...
208,Industry,2,Mississauga,David MinWoo,Kong,- Bachelor of Applied Science - BASc: Universi...,- LG AI Research\n · AI Project Manager (2022...,AI Project Manager,NaN,NaN,https://www.linkedin.com/in/david-minwoo-kong-...
209,Industry,2,Canada,Jaewon,Choi,- Bachelor of Science (BS): Hanyang University...,- Amazon\n · Tech Lead / Sr. Software Develop...,Tech Lead / Sr. Software Development Engineer,NaN,NaN,https://www.linkedin.com/in/cmdrkeen
210,Industry,2,Vancouver,Wonmook,Jung,- Master's degree: Yonsei University (2011 – 2...,- Amazon\n · Software Development Engineer (2...,Software Development Engineer,NaN,NaN,https://www.linkedin.com/in/wonmookjung

In [26]:
# Add an initial quote at the start of each education and experience
# So that excel recognizes them as text not formulas
def add_quote(input_string):
    input_string = '\'' + input_string
    return input_string

df['Education'] = df['Education'].apply(add_quote)
df['Work Experience'] = df['Work Experience'].apply(add_quote)

df.to_excel('canada_list_output.xlsx', encoding='utf-8')

In [27]:
# Extra commas in school names have been accounted for
# However commas in degree names could still mess up the formatting
# Note that for education 'school' is the only required field, others are optional
# So, if the optional fields are missing, question marks (?) will be added to indicate that
# It seems that there are some rare cases in which only the period is listed, these will be skipped and a message printed
# Also, if someone uses an unlisted school name then only the degree and period exist,
# which results in a having just the degree and period listed but with the degree where the school name should be

In [28]:
print(df.loc[13].Education)

'- Doctor of Philosophy (Ph.D.): Simon Fraser University (2016 – 2019)
- Master's: Korea Advanced Institute of Science and Technology (2002 – 2004)
- Bachelor of Engineering: Pohang University of Science and Technology (1997 – 2002)
- Exchange Student: University of Maryland (1999)
- ??: ?? (1994 – 1997)